<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <title>DOCKER CONTAIN DETECT SYSTEM</title>
    <link rel="shortcut icon" href="static/css/title.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css" />
    <script type='text/javascript' src='static/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='static/js/demo.js'></script>
</head>


<body>
    <p class="head">容器未启动，请启动检测容器</p>
</body>

</html>
